@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #ecf4ff, #5f7cb7);
}
h1 {
  color:black;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-dots li button:before {
  color: #000; /* Change to desired dot color */
}

.slick-dots li.slick-active button:before {
  color: #007bff; /* Active dot color */
}
